.container {
  max-width: 960px;
  width: 93.75%;
  margin: 0 auto;

  .row {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .full {
    flex-basis: 100%;
  }

  .half {
    flex-basis: 49%;
  }
}
