/* Core styles and design atoms for the application */
body {
  margin: 0;
  background-color: #F5F4F0;
  font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Universal button */
.button {
  background: #FFFFFF;
  font-size: 1.1rem;
  color: #9BBD59;
  letter-spacing: 0;
  text-align: center;
  font-weight: 200;
  text-transform: uppercase;
  padding: 0.8rem 1.5rem;
  border-radius: 999px;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
  text-decoration: none;

  transition: 0.25s all;
  -webkit-transition: 0.25s all;

  &:hover {
    opacity: 0.7;
  }
}

/* Header */
.header {
  background: #97C645;
  padding: 1rem 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-logo {
    width: 48px;
  }
}
