/* Core styles and design atoms for the application */
body {
  margin: 0;
  background-color: #FAACA8;
  font-family: 'Lato';
}

/* Buttons */
.button {
  padding: 1rem 1.5rem;
  background: #FFFFFF;
  display: inline-block;
  border-radius: 999px;
  text-decoration: none;
  border: none;
}

.text-center {
  text-align: center;
}

/* Universal buttons */
.back-button {
  position: fixed;
  left: 45px;
  top: 45px;
}

.create-button {
  position: fixed;
  right: 45px;
  bottom: 45px;
}
